<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/style/recet.css">
    <link rel="stylesheet" href="./assets/style/style.css">
</head>
<body>
    <header class="header">
        <div class="container container__header">
            <nav class="header-logo">
                <ul>
                    <li class="header-logo-name"><a href=""class="head-logo"><i class="fa-solid fa-circle" ></i>РУБЛЬБАНК</a></li>
                    <li><a href="">Частным клиентам</a></li>
                    <li><a href="">Бизнесу</a></li>
                    <li><a href="">Самозанятым</a></li>
                </ul>
                <ul>
                    <li><a href="#!" class=underline>Определения и банкоматы</a></li>
                    <li><a href="#!" class="blue-link">Рубльбанк онлайн</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="header-link">
        <div class="container">
            <nav class="links-nav">
               <ul>
                <li>Ипотека</li>
                <li>кредиты</li>
                <li>Вклады</li>
                <li>Карты</li>
                <li>Инвестиции</li>
                <li>Переводы</li>
                <li>Страхование</li>
                <li>Рефинансирование</li>
                <li>Сервисы</li>
            </ul> 
            </nav>
        </div>
    </section>
    <section class="section__card">
        <div class="container">
            <p class="head-section-card">
                Дебетовые карты
            </p>
            <div class="block-ruble-card">
                <img src="./assets/img/рублькарта_картинка.png" alt="">
                <div class="ruble-card-info">
                    <p class="head-info-card">
                        Рублькарта
                    </p>
                    
                        <ul>
                            <li>Моментальный выпуск</li>
                            <li>Бесплатное обслуживание</li>
                            <li>Кэшбэк до 2%</li>
                        </ul>
                    
                    <div class="button-banner">
                        <a href="#!" class="blue-button">Оформить карту</a>
                        <a href="#!" class="white-button">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="block-ruble-card">
                <img src="./assets/img/суперкарта_картинка.png" alt="">
                <div class="ruble-card-info">
                    <p class="head-info-card">
                        Суперкарта
                    </p>
                    
                        <ul>
                            <li>Скидки до 20% на отели</li>
                            <li>Бесплатное обслуживание</li>
                            <li>Кешбэк до 11%</li>
                        </ul>
                    
                    <div class="button-banner">
                        <a href="#!" class="blue-button">Оформить карту</a>
                        <a href="#!" class="white-button">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="block-ruble-card">
                <img src="./assets/img/travelкарта_картинка.png" alt="">
                <div class="ruble-card-info">
                    <p class="head-info-card">
                        Travel карта
                    </p>
                    
                        <ul>
                            <li>Моментальный выпуск</li>
                            <li>Индивидуальный дизайн</li>
                            <li>Премиальные опции</li>
                        </ul>
                    
                    <div class="button-banner">
                        <a href="#!" class="blue-button">Оформить карту</a>
                        <a href="#!" class="white-button">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>